{% extends "base.html.twig" %}

{% block content %}
    <div class="container">
	    <h1 class="text-center">
		    <a href="{{ path('onion_show', {'hash': onion.hash}) }}">
		    	{{ onion.hash }}.onion
		    </a>
	    </h1>

	    <br>

    	<div class="text-center">
			{{ resources.totalItemCount }} URL{{ resources.totalItemCount > 1 ? "s" }}
		</div>

		<br>

		{% if resources.totalItemCount > 0 %}
	    	{% include "@App/Resource/table_pagination.html.twig" %}
		{% else %}
			<div class="alert alert-info">
				No URL found for this onion
			</div>
		{% endif %}
	</div>
{% endblock %}
